html,
body,
#container,
#map {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:hidden
}
#controls {
  display:none;
  grid-column-gap:5px;
  margin-left:10px
}
#controlscon {
  position:absolute;
  display:flex;
  top:0;
  left:0;
  z-index:1000;
  margin:10px;
  padding:6px 8px;
  background:rgba(255,255,255,.9);
  box-shadow:0 0 15px rgb(0 0 0/20%);
  border-radius:5px;
  transition:all .3s ease-in-out
}
#menu-access {
  margin:3px 0
}
#controls button {
  font:14px/16px Arial,Helvetica,sans-serif;
  transition:all .3s ease-in-out
}
.itemIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background: url("./item.png");
  background-size:100% 100%;
  transition:all .1s
}
.hitemIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("./hitem.png");
  background-size:100% 100%;
  transition:all .1s
}
.mitemIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: maroon;
  background-size:100% 100%;
  transition:all .1s
}
.berryIcon {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("./berry.png");
  background-size:100% 100%;
  transition:all .1s
}
.entrance {
  width:20px;
  height:20px;
  margin:-10px;
  background-image: url("./entrance.png");
  background-size:100% 100%;
  transition:all .1s
}
.hidden {
  display:none
}
.info {
  padding:6px 8px;
  font:14px/16px Arial,Helvetica,sans-serif;
  background:rgba(255,255,255,.9);
  box-shadow:0 0 15px rgba(0,0,0,.2);
  border-radius:5px
}
.info-header {
  display:flex;
  margin-bottom:5px
}
.info-header h4 {
  margin:10px;
  color:#000;
  text-align:center
}
.info-header button {
  margin-left:auto;
  width:70px
}
#pkmn-list {
  display:grid;
  grid-template-columns:auto auto auto auto;
  grid-gap:1px;
  background-color:#000;
  border:1px solid #000
}
.pkmn-nodata {
  text-align:center;
  padding:10px
}
.pkmn-list-row {
  width:100%;
  grid-column:1/-1;
  text-align:center;
  background-color:#fff;
  padding:5px 0
}
.pkmn-list-column {
  text-align:center;
  background-color:#fff;
  padding:5px;
  max-width:150px
}
